vendor
webpack.config.js
wp-admin
wp-includes
wp-content/plugins/*
wp-content/plugins/**/dist/*
!wp-content/plugins/relicta-*
wp-content/plugins
wp-content/uploads
wp-content/themes/seedlet
wp-content/themes/relicta-child/dist
