/* ==========================================================================
LOGO
========================================================================== */

.c-logo {
	transform: scale(0.8);

	@include for-tablet-landscape-up {
		transform: scale(1);
	}

	.c-header.sticky & {

		svg {
			transform: scale(0.9);
		}

		.c-logo__top,
		.c-logo__bottom {
			display: none;
		}
	}
}
