/* ==========================================================================
HERO BLOCK
========================================================================== */

section.wp-block-group.hero {

	.wp-block-cover {
		min-height: 55vh;

		@include for-tablet-landscape-up {
			min-height: 100vh;
		}

		&__inner-container {
			padding-top: 80px;
			padding-bottom: 40px;
		}
	}

	h1 {

		@include reset_all;
		font-weight: var(--font-weight-primary-bold);
		font-size: 48px;
		line-height: 1.25 !important;

		@include for-phone-up {
			font-size: 72px;
		}

		@include for-tablet-portrait-up {
			font-size: 96px;
		}

		@include for-tablet-landscape-up {
			font-size: 128px;
		}
	}
}

section.wp-block-group.hero,
section.wp-block-group.hero-small {
	margin-top: 0;
	margin-bottom: 0;
}
