/* ==========================================================================
SECTION BLOCK
========================================================================== */

section.wp-block-group {
	margin-top: var(--spacing-xxl);
	margin-bottom: var(--spacing-xxl);

	.wp-block-group__inner-container {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-m);

		h2,
		p {

			@include reset_all;
		}

		h2 {
			font-size: 36px;
			font-weight: var(--font-weight-primary-bold);

			@include for-tablet-portrait-up {
				font-size: 64px;
			}

			@include for-tablet-landscape-up {
				font-size: 92px;
			}
		}

		> p {
			font-size: var(--font-size-h2-mobile);
			font-weight: var(--font-weight-primary-medium);
			line-height: 1.5;

			@include for-tablet-landscape-up {
				font-size: var(--font-size-h1-mobile);
			}
		}
	}

	&.image-overlay {
		height: 250px;
		margin-top: 35vw;

		@include for-phone-up {
			margin-top: 45vw;
		}

		@include for-tablet-portrait-up {
			margin-top: 55vw;
		}

		@include for-tablet-landscape-up {
			height: 500px;
			margin-top: 450px;
		}

		.wp-block-group__inner-container {
			left: 0;
			position: absolute;
			right: 0;
			top: -25vw;

			@include for-phone-up {
				top: -40vw;
			}

			@include for-tablet-portrait-up {
				top: -50vw;
			}

			@include for-tablet-landscape-up {
				top: -400px;
			}
		}

		.wp-block-image {

			@include grid_container;
			margin-bottom: 0;
		}
	}
}
