/* ==========================================================================
SECTION BLOCK
========================================================================== */

section.wp-block-group {

	.wp-block-group__inner-container {

		h1 {
			font-size: 36px;
			font-weight: var(--font-weight-primary-bold);

			@include for-tablet-portrait-up {
				font-size: 64px;
			}

			@include for-tablet-landscape-up {
				font-size: 92px;
			}
		}

		> p {
			font-size: var(--font-size-h2-mobile);
			font-weight: var(--font-weight-primary-medium);
			line-height: 1.5;

			@include for-tablet-portrait-up {
				font-size: var(--font-size-h1-mobile);
			}

			@include for-tablet-landscape-up {
				font-size: var(--font-size-h1-desktop);
			}
		}
	}

	&.image-overlay {
		height: 250px;
		margin-top: 30vw;

		@include for-phone-up {
			margin-top: 40vw;
		}

		@include for-tablet-portrait-up {
			margin-top: 45vw;
		}

		@include for-tablet-landscape-up {
			height: 500px;
			margin-top: 350px;
		}

		.wp-block-group__inner-container {
			left: 0;
			position: absolute;
			right: 0;
			top: -20vw;

			@include for-phone-up {
				top: -35vw;
			}

			@include for-tablet-portrait-up {
				top: -40vw;
			}

			@include for-tablet-landscape-up {
				top: -300px;
			}
		}

		.wp-block-image {

			@include reset_all;
		}
	}
}
