/* ==========================================================================
GRAVITY FORMS
========================================================================== */

.gform_body {

	input[type="text"],
	input[type="email"],
	select,
	textarea {
		background-color: rgba(0, 126, 167, 0.3);
		border: 1px solid rgba(0, 126, 167, 0.3);
	}

	.consent,
	.captcha {
		margin: 0 auto !important;
	}
}

.gform_footer {
	justify-content: center;

	input[type="submit"] {

		@include reset_appearance;
		background-color: var(--color-deep-cerulean);
		border: none;
		color: var(--color-white);
		cursor: pointer;
		font-size: var(--font-size-h3-desktop);
		min-width: 200px;
		padding: var(--spacing-xs) var(--spacing-l);
		text-transform: uppercase;

		&:hover,
		&:focus {
			background-color: var(--color-prussian-blue);
		}
	}
}
