/* ==========================================================================
GRID SETTINGS
========================================================================== */

$grid-width-full: 1200px;
$grid-width-medium: 1000px;
$grid-width-small: 880px;
$grid-width-x-small: 700px;
$grid-width-narrow: 630px;
$grid-gutter: var(--spacing-m);
