/* ==========================================================================
HTML
========================================================================== */

html {
	scroll-behavior: smooth;
}

:target::before {
	content: "";
	display: block;
	height: 280px;
	margin: -280px 0 0;

	@include for-tablet-portrait-up {
		height: 80px;
		margin: -80px 0 0;
	}
}
